* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: whitesmoke;
}

nav .logo img {
  width: 50%;
  height: 50px;
  object-fit: contain;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  margin: 5px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: 1s;
}

nav ul li a:hover {
  color: #e12503;
}

nav ul li a sup {
  position: relative;
  top: -12px;
  right: 5px;
}

nav ul li select {
  border: none;
  background-color: red;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#navbars {
  width: 100%;
  background-color: #e12503;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 60px;
}

#navbars .navbar {
  height: 45px;
}

#navbars .navbar .pages {
  height: 30px;
  margin: 0px auto;
}

#navbars .navbar ul {
  padding-left: 0px;
}

#navbars .navbar ul li {
  list-style: none;
  font-size: 14px;
}

#navbars .navbar ul li a {
  text-decoration: none;
  color: white;
  transition: 1s;
}

#navbars .navbar ul li a i {
  font-size: 12px;
  position: relative;
  bottom: 4px;
}

#navbars .navbar ul li a:hover {
  color: #a7b3ab;
}

.fluid {
  background-color: whitesmoke;
  padding: 15px;
  transition: 1s;
  top: 30px;
}

.fluid .book img {
  width: 100%;
  height: 400px;
}

.fluid .book .book-info {
  height: 35px;
  background-color: #d14031;
  text-align: center;
}

.fluid .book .book-info a {
  text-decoration: none;
  color: white;
}

.category:hover .fluid {
  opacity: 1;
}

#main-section {
  height: 650px;
}

#main-section .items {
  height: 650px;
}

#main-section .items .description * {
  margin: 0 0 20px 0;
}

#main-section .items .description {
  padding: 5px;
}

#main-section .items .description h1 {
  color: #d14031;
}

#main-section .items .description p {
  font-size: 20px;
  font-weight: bold;
}

#main-section .items .description small {
  font-weight: bold;
}

#others {
  background-color: #fafafa;
}

#others .cards {
  padding: 10px;
}

.line {
  width: 75px;
  height: 3px;
  background-color: #e12503;
  margin: 0px auto;
  margin-bottom: 20px;
}

#library-section .book-categories {
  margin: 0px auto;
}

#library-section .info-book {
  position: relative;
}

#library-section .info-book .more-icon {
  top: 175px;
  position: absolute;
  z-index: 9;
  right: 10px;
}

#library-section .info-book .more-icon .more {
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 999;
  opacity: 0;
  transition: .8s;
}

#library-section .info-book .more-icon .more a {
  color: white;
  text-decoration: none;
}

#library-section .info-book img {
  height: 450px;
  transition: .8s;
}

#library-section .info-book:hover img {
  opacity: 0.6;
}

#library-section .info-book:hover .more {
  opacity: 1;
}

#library-section .detail p {
  margin-bottom: 10px;
  color: #676767;
}

#library-section .detail * {
  margin-bottom: 10px;
}

#read-section {
  height: 500px;
}

#read-section .read {
  height: 500px;
}

#read-section .read .read-info {
  width: 50%;
}

#read-section .read .read-info h2 {
  color: #d14031;
}

#read-section .read .read-info p {
  font-weight: normal;
}

#author-section .infos-book {
  position: relative;
}

#author-section .infos-book .more-icon {
  top: 100px;
  position: absolute;
  z-index: 9;
  right: 10px;
}

#author-section .infos-book .more-icon .more {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5px;
  z-index: 999;
  opacity: 0;
  transition: .8s;
}

#author-section .infos-book .more-icon .more a {
  color: white;
  text-decoration: none;
}

#author-section .infos-book img {
  height: 300px;
  transition: .8s;
}

#author-section .infos-book:hover img {
  opacity: 0.6;
}

#author-section .infos-book:hover .more {
  opacity: 1;
}

#author-section .author-image {
  position: relative;
}

#author-section .author-image img {
  width: 100%;
  height: 500px;
}

#author-section .author-image .social-medias {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#author-section .author-image .social-medias i {
  color: white;
  margin: 5px;
  transition: 1s;
}

#author-section .author-image .social-medias i:hover {
  color: #d14031;
}

#author-section .award-img {
  margin-bottom: 25px;
}

#offer-section {
  height: 500px;
}

#offer-section .offer {
  height: 500px;
}

#offer-section .offer .offer-description {
  width: 50%;
}

#offer-section .offer .offer-description h2 {
  color: #e12503;
}

#offer-section .offer .offer-description p {
  color: #676767;
}

#offer-section .offer .offer-description small {
  color: #a7b3ab;
}

#deals-section .info-book {
  position: relative;
}

#deals-section .info-book .more-icon {
  top: 175px;
  position: absolute;
  z-index: 9;
  right: 10px;
}

#deals-section .info-book .more-icon .more {
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 5px;
  z-index: 999;
  opacity: 0;
  transition: .8s;
}

#deals-section .info-book .more-icon .more a {
  color: white;
  text-decoration: none;
}

#deals-section .info-book img {
  height: 450px;
  transition: .8s;
}

#deals-section .info-book:hover img {
  opacity: 0.6;
}

#deals-section .info-book:hover .more {
  opacity: 1;
}

#gift-section {
  background-attachment: fixed;
  height: 400px;
}

#gift-section .gift {
  height: 400px;
}

#gift-section .gift .gift-info h2 {
  color: #134683;
}

#gift-section .gift .gift-info small {
  color: #676767;
}

#news-section .news-photo {
  height: 300px;
  position: relative;
}

#news-section .news-photo .hover {
  width: 100%;
  height: 300px;
  background-color: #d14031;
  z-index: 100;
  position: absolute;
  opacity: 0;
  transition: 1s;
  bottom: 0;
}

#news-section .news-photo img {
  width: 100%;
  height: 300px;
}

#news-section .news-photo:hover .hover {
  opacity: 0.8;
}

#news-section svg {
  height: 15px;
}

#news-section .sponsors {
  box-shadow: 2px 2px 2px 2px gray;
  padding: 15px;
}

#subscribe form {
  width: 75%;
}

#subscribe form input {
  display: inline-block;
  height: 50px;
  border: 1px solid #d14031;
  width: 100%;
}

#subscribe form .buttn {
  width: 50%;
  height: 50px;
  border-radius: 0px;
}

#footer-section {
  width: 100%;
  height: 450px;
}

#footer-section h2 {
  color: #d14031;
}

#footer-section ul {
  padding-left: 0;
}

#footer-section ul li {
  list-style: none;
}

#footer-section ul li a {
  text-decoration: none;
  color: white;
}

#footer-section .social {
  width: 50%;
  margin: 25px auto;
  text-align: center;
}

#footer-section .social i {
  margin: 20px;
}

#footer-section .endl {
  border-top: 1px solid gray;
}

#footer-section .endl .licence {
  height: 75px;
}

@media screen and (min-width: 1200px) {
  .description {
    width: 50%;
  }
  .bars {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .description {
    width: 50%;
  }
  .pages {
    display: none;
  }
  .bars {
    margin: 0px auto;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  .info-book {
    width: 100%;
  }
  .info-book img {
    width: 100%;
  }
  .read-info h4 {
    font-size: 25px;
  }
  .read-info h2 {
    font-size: 75px;
  }
  .read-info p {
    font-size: 25px;
  }
  #author-section .infos-book {
    width: 258px;
  }
  .offer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .offer .offer-description p {
    font-size: 30px;
  }
  .offer .offer-description h2 {
    font-size: 50px;
  }
  .gift .gift-info h2 {
    font-size: 60px;
    color: #134683;
  }
  .gift .gift-info small {
    font-size: 30px;
    font-weight: normal;
    color: #676767;
  }
}

@media screen and (max-width: 768px) {
  #main-section {
    width: 100%;
    height: 350px;
    background-position: center;
  }
  #main-section .items {
    height: 300px;
  }
  #main-section .items .description {
    height: 150px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #main-section .items .description small {
    display: none;
  }
  #main-section .items .description p {
    display: none;
  }
  #main-section .items .description h1 {
    font-size: 20px;
  }
  .info-book {
    width: 70%;
    margin: 0px auto;
  }
  .info-book img {
    width: 100%;
  }
  .infos-book {
    width: 70%;
    margin: 0px auto;
  }
  .infos-book img {
    width: 100%;
  }
  #read-section {
    height: 300px;
  }
  #read-section .read {
    height: 300px;
  }
  #read-section .read .read-info h4 {
    font-size: 20px;
  }
  #read-section .read .read-info h2 {
    font-size: 30px;
  }
  .offer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #gift-section {
    background-position: center;
    height: 200px;
  }
  #gift-section .gift {
    height: 200px;
  }
}

body {
  position: relative;
}

body .circle {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e12503;
  border-radius: 50%;
  color: white;
  position: absolute;
  bottom: 25px;
  right: 25px;
  position: fixed;
  transition: 1s;
}

.pagination {
  margin: 0px auto;
}

.pagination .page-link {
  transition: 1s;
  background-color: #d14031;
}

.pagination .page-link:hover {
  color: white;
  background-color: black;
}

#collection-section .category ul {
  padding-left: 0;
}

#collection-section .category ul li {
  list-style: none;
}

#collection-section .category ul li a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 568px) {
  nav {
    height: 100px;
  }
  nav .service {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 568px) {
  nav {
    flex-wrap: wrap;
  }
  nav * {
    text-align: center;
  }
  nav .customer-function {
    display: flex;
    justify-content: center;
  }
  nav .service {
    display: flex;
    justify-content: center;
  }
  .description {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */